rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write only for authenticated users in the emulator environment.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
